In [2]:
import pandas as pd
import json

f = open('lokimo-dataset-backend-test.json')
data = json.load(f)
f.close()

df = pd.json_normalize(data)
df.head()

,buy,city,first_date,good_id,house,id,iris,last_date,meter_square,price,...,data.floor,data.hasCaretaker,data.hasBalcony,data.balconySurfaceArea,data.availableDate,data.outdoorParkingQuantity,data.hasVideophone,position,data.isInStudentResidence,data.hasParquet
0,True,44097,2022-08-08,iad-france-1095069,True,1289498,440970000,2022-09-30,4629,416666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,44097,2022-08-08,adapt-immo-7401422514,True,1289497,440970000,2022-09-30,5576,597400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,44097,2022-09-30,ag440414-357893389,True,1429190,440970000,2022-09-30,3100,590000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,True,44097,2022-04-04,immo-facile-46996093,True,982924,440970000,2022-09-30,4700,733200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,44097,2022-05-06,laforet-immo-facile-20966746,True,1055063,440970000,2022-09-30,3409,781425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   buy                          250 non-null    bool
 1   city                         250 non-null    object
 2   first_date                   250 non-null    object
 3   good_id                      250 non-null    object
 4   house                        250 non-null    bool
 5   id                           250 non-null    int64
 6   iris                         250 non-null    object
 7   last_date                    250 non-null    object
 8   meter_square                 250 non-null    int64
 9   price                        250 non-null    int64
 10  rooms                        250 non-null    int64
 11  surface                      250 non-null    int64
 12  data.bedroomsQuantity        223 non-null    float64
 13  data.city                    250 non-null    object
 14  data.floorQuantity           130 non-null    float64
 15  data.hasAirConditioning      49 non-null     object
 16  data.hasAlarm                52 non-null     object
 17  data.hasCellar               60 non-null     object
 18  data.hasDoorCode             58 non-null     object
 19  data.hasFirePlace            143 non-null    object
 20  data.hasGarden               142 non-null    object
 21  data.hasIntercom             62 non-null     object
 22  data.hasPool                 70 non-null     object
 23  data.hasTerrace              50 non-null     object
 24  data.heating                 175 non-null    object
 25  data.link                    250 non-null    object
 26  data.newProperty             250 non-null    bool
 27  data.publicationDate         250 non-null    object
 28  data.reference               248 non-null    object
 29  data.status.autoImported     250 non-null    bool
 30  data.status.closedByUser     250 non-null    bool
 31  data.status.highlighted      250 non-null    bool
 32  data.status.is3dHighlighted  250 non-null    bool
 33  data.status.isLeading        250 non-null    bool
 34  data.status.onTheMarket      250 non-null    bool
 35  data.title                   250 non-null    object
 36  data.transactionType         250 non-null    object
 37  data.yearOfConstruction      114 non-null    float64
 38  position.lat                 248 non-null    float64
 39  position.lng                 248 non-null    float64
 40  data.bathroomsQuantity       109 non-null    float64
 41  data.hasSeparateToilet       16 non-null     object
 42  data.parkingPlacesQuantity   89 non-null     float64
 43  data.priceWithoutFees        178 non-null    float64
 44  data.showerRoomsQuantity     94 non-null     float64
 45  data.thresholdDate           132 non-null    object
 46  data.toiletQuantity          128 non-null    float64
 47  data.exposition              84 non-null     object
 48  data.newOrOld                21 non-null     object
 49  data.opticalFiberStatus      95 non-null     object
 50  data.balconyQuantity         40 non-null     float64
 51  data.isRecent                56 non-null     object
 52  data.terracesQuantity        52 non-null     float64
 53  data.address                 156 non-null    object
 54  data.hasElevator             41 non-null     object
 55  data.gardenSurfaceArea       4 non-null      float64
 56  data.floor                   50 non-null     float64
 57  data.hasCaretaker            18 non-null     object
 58  data.hasBalcony              11 non-null     object
 59  data.balconySurfaceArea      8 non-null      float64
 60  data.availableDate           15 non-null     object
 61  data.outdoorParkingQuantity  1 non-null      float64
 62  data.hasVideophone           3 non-null      object
 63  position                     0 non-null      float64
 64  data.isInStudentResidence    1 non-null      object
 65  data.hasParquet              2 non-null      object
dtypes: bool(9), float64(17), int64(5), object(35)
memory usage: 113.7+ KB

In [46]:
df['surface']

0       90
1      104
2      183
3      150
4      220
      ...
245     49
246     96
247    126
248    150
249    393
Name: surface, Length: 250, dtype: int64

In [45]:
df.loc[df['house']==0,['good_id', 'city', 'rooms', 'meter_square', 'data.address', 'position.lat', 'position.lng']].sort_values(by=['data.address'])

,good_id,city,rooms,meter_square,data.address,position.lat,position.lng
89,immo-facile-adresse-13043278,44015,2,3225,1 Impasse des Abattoirs 44130 Blain,47.477398,-1.751262
215,mgc-163456351,44143,0,0,1 Rue Ernest Sauvestre 44400 RezÃ©,47.168187,-1.542770
163,immo-facile-49241202,44109,3,3392,1 Rue PrÃ©mion 44000 Nantes,47.216540,-1.549381
206,era-484734,44184,4,3015,1 Rue des VenÃªtes 44600 Saint-Nazaire,47.278130,-2.206280
36,immo-facile-47977376,44055,4,8249,1 avenue georges clÃ©menceau 44500 La Baule-Esc...,47.287248,-2.390826
...,...,...,...,...,...,...,...
226,immo-facile-adresse-13049298,44047,2,4393,NaN,47.220936,-1.691612
227,les-nouveaux-constructeurs-2478,44069,0,0,NaN,47.325675,-2.422942
230,immo-facile-50378964,44026,3,3801,NaN,47.296900,-1.508590
244,mgc-331800875,44055,0,0,NaN,47.295146,-2.361393
245,ag753296-356346403,44026,2,2755,NaN,47.297062,-1.465346

In [10]:
import requests
import json

headers = {"Content-type": "application/json"}
url = "http://127.0.0.1:8000/ads/"

f = open("test_data.json")
data = json.load(f)
f.close()

rejected_items = []
for item in data:
    response = requests.post(url, data=json.dumps(item), headers=headers)
    if response.status_code != 201:
        rejected_items.append(item)
        response_Json = response.json()
        print("Printing Post JSON data")
        print(response_Json)
        break
print(len(rejected_items))

0

In [ ]:
{"meter_square__avg":2455.8}

In [47]:
        data = """{
            "buy": true,
            "city": "44097",
            "data": {
                "bedroomsQuantity": 2,
                "city": "Mesquer",
                "floorQuantity": 1,
                "hasAirConditioning": false,
                "hasAlarm": false,
                "hasCellar": false,
                "hasDoorCode": false,
                "hasFirePlace": false,
                "hasGarden": true,
                "hasIntercom": false,
                "hasPool": false,
                "hasTerrace": false,
                "heating": "radiateur \u00e9lectrique ",
                "link": "https://www.bienici.com/annonce/vente/mesquer/maison/3pieces/iad-france-1095069",
                "newProperty": false,
                "publicationDate": "2022-08-04T15:09:07.742Z",
                "reference": "1072297",
                "status": {
                    "autoImported": true,
                    "closedByUser": false,
                    "highlighted": false,
                    "is3dHighlighted": false,
                    "isLeading": false,
                    "onTheMarket": true,
                },
                "title": "Vente Maison/villa 3 pi\u00e8ces",
                "transactionType": "buy",
                "yearOfConstruction": 1998,
            },
            "first_date": "2022-08-08",
            "good_id": "iad-france-1095069",
            "house": true,
            "id": 1289498,
            "iris": "440970000",
            "last_date": "2022-09-30",
            "meter_square": 4629,
            "position": {"lat": 47.40422756768584, "lng": -2.455508739167056},
            "price": 416666,
            "rooms": 3,
            "surface": 90,
        }"""

In [48]:
data

'{\n    "buy": true,\n    "city": "44097",\n    "data": {\n        "bedroomsQuantity": 2,\n        "city": "Mesquer",\n        "floorQuantity": 1,\n        "hasAirConditioning": false,\n        "hasAlarm": false,\n        "hasCellar": false,\n        "hasDoorCode": false,\n        "hasFirePlace": false,\n        "hasGarden": true,\n        "hasIntercom": false,\n        "hasPool": false,\n        "hasTerrace": false,\n        "heating": "radiateur Ã©lectrique ",\n        "link": "https://www.bienici.com/annonce/vente/mesquer/maison/3pieces/iad-france-1095069",\n        "newProperty": false,\n        "publicationDate": "2022-08-04T15:09:07.742Z",\n        "reference": "1072297",\n        "status": {\n            "autoImported": true,\n            "closedByUser": false,\n            "highlighted": false,\n            "is3dHighlighted": false,\n            "isLeading": false,\n            "onTheMarket": true,\n        },\n        "title": "Vente Maison/villa 3 piÃ¨ces",\n        "transactionType": "buy",\n        "yearOfConstruction": 1998,\n    },\n    "first_date": "2022-08-08",\n    "good_id": "iad-france-1095069",\n    "house": true,\n    "id": 1289498,\n    "iris": "440970000",\n    "last_date": "2022-09-30",\n    "meter_square": 4629,\n    "position": {"lat": 47.40422756768584, "lng": -2.455508739167056},\n    "price": 416666,\n    "rooms": 3,\n    "surface": 90,\n}'

In [56]:
import os
print(os.path.dirname())

TypeError: dirname() missing 1 required positional argument: 'p'